{% extends 'films/base.html' %}
{% load films_tags %}

{% block content %}
  <h1>Подписка на уведомления</h1>
  <p>Выберите предпочтения для уведомлений:</p>

  <form method="post" action="{% url 'films:notifications' %}">
    {% csrf_token %}

    <div class="mb-3">
      <label class="form-label">Частота уведомлений:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="frequency" id="daily" value="daily">
        <label class="form-check-label" for="daily">
          Раз в день
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="frequency" id="weekly" value="weekly">
        <label class="form-check-label" for="weekly">
          Раз в неделю
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="frequency" id="monthly" value="monthly">
        <label class="form-check-label" for="monthly">
          Раз в месяц
        </label>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Тип уведомлений:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="notification_type" id="new_films" value="new_films">
        <label class="form-check-label" for="new_films">
          Добавление нового фильма
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="notification_type" id="new_or_updated" value="new_or_updated">
        <label class="form-check-label" for="new_or_updated">
          Добавление нового фильма или изменение имеющегося
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="notification_type" id="all_changes" value="all_changes">
        <label class="form-check-label" for="all_changes">
          Все изменения
        </label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" id="savePreferences">Сохранить предпочтения</button>
    <div id="selectedPreferences" class="mt-3 d-none">
      <p>Выбранные настройки:</p>
      <p id="selectedFrequency"></p>
      <p id="selectedNotificationType"></p>
    </div>
  </form>

  <script>
    $(document).ready(function() {
      $('#savePreferences').click(function(event) {
        event.preventDefault(); // Prevent form submission

        // Get selected frequency
        var frequency = $('input[name=frequency]:checked').val();
        // Get selected notification type
        var notificationType = $('input[name=notification_type]:checked').val();

        // Set the text in the display div
        $('#selectedFrequency').text('Частота: ' + frequency);
        $('#selectedNotificationType').text('Тип уведомлений: ' + notificationType);

        // Show the display div
        $('#selectedPreferences').removeClass('d-none');
      });
    });
  </script>
{% endblock %}
